.menu-pager--path {
    padding: .5rem .75rem .5rem .75rem;
    border-width: 2px;
    border-color: #005ea2;
    border-style: solid;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    height: 100%;
}

.menu-pager--path-right {
    padding-left: 1.25rem;
}

.menu-pager--icon-container svg {
    vertical-align: middle;
}