{{ attach_library('uswds_menu_pager/uswds_menu_pager') }}
<div class="grid-row display-flex margin-top-4">
  {% if previous['description'] and previous['translation'] is null %}
  <a class="text-no-underline tablet:grid-col-6 margin-bottom-2" href="{{ previous['#url'] }}">
    <div class="display-flex hover:bg-primary-lighter menu-pager--path">
      <div class="grid-row width-full">
        <div class="menu-pager--icon-container grid-col-2 flex-align-self-center text-align-left">{{ source(image_path ~ 'arrow_back.svg') }}</div>
        <div class="grid-col-10">
        <p class="text-underline text-primary">{{ previous['#title']|slice(3) }}</p>
        {% if not hide_description %}
        <p class="text-black line-height-sans-3 margin-top-2">{{ previous['description'] }}</p>
        {% endif %}
        </div>
      </div>
    </div>
  </a>
  {% endif %}
  {% if next['description'] and next['translation'] is null %}
    <a class="text-no-underline tablet:grid-col-6 margin-bottom-2" href="{{ next['#url'] }}">
      <div class="display-flex hover:bg-primary-lighter menu-pager--path menu-pager--path-right">
        <div class="grid-row width-full">
        <div class="grid-col-10">
        <p class="text-underline text-primary">{{ next['#title']|slice(0, -3) }}</p>
        {% if not hide_description %}
        <p class="text-black line-height-sans-3 margin-top-2">{{ next['description'] }}</p>
        {% endif %}
        </div>
        <div class="menu-pager--icon-container grid-col-2 flex-align-self-center text-align-right">{{ source(image_path ~ 'arrow_forward.svg') }}</div>
        </div>
      </div>
    </a>
  {% endif %}
</div>
